<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular-tables by simars</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Angular-tables</h1>
        <p>Angular Tables using Datables + JQuery</p>

        <p class="view"><a href="https://github.com/simars/angular-tables">View the Project on GitHub <small>simars/angular-tables</small></a></p>


        <ul>
          <li><a href="https://github.com/simars/angular-tables/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/simars/angular-tables/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/simars/angular-tables">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>
<a id="welcome-to-angular-tables" class="anchor" href="#welcome-to-angular-tables" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to angular-tables</h3>

<p>angular-tables provides a directive that brings power of <a href="https://datatables.net/reference/option/">Datatables.net</a> in <a href="https://angularjs.org">Angular’s</a> scope
Try <a href="#example">zero-config Demo here</a>,</p>

        <h3>
<a id="features" class="anchor" href="#features" aria-hidden="true"><span class="octicon octicon-link"></span></a>Features</h3>

<ul>
<li>Manage Datables options and data for DataTables declaratively in table element (HTML)</li>
<li>Assigning attributes to table element binding to options wih Objects, and data in 2D Array of [row][column] in angular's current controller's scope</li>
<li>Watches over the data (array[row][column]) bound to the table from scope, and re-renders automatically on change</li>
<li>Use angular aware elements in data values. Values first $compile with angular's current scope then $eval</li>
</ul>

<h3>
<a id="how-to-use" class="anchor" href="#how-to-use" aria-hidden="true"><span class="octicon octicon-link"></span></a>How to use?</h3>

<ul>
<li>Follow <a href="https://github.com/simars/angular-tables/blob/master/examples">example</a>
</li>
<li>Follow <a href="https://datatables.net/reference/option/">Datatables options</a> for configurable table options that can be used</li>
</ul>
<div id="example" ng-app="exampleAngularTables">
        <div ng-controller="ExmapleCtrl">
          <!-- angular table start -->
          <table datatable columns="exampleCols" data="exampleData" column-defs="exampleColDefs"></table>
          <!-- angular table end  -->


          <table id="non-angular-table">
            <tr>
              <td></td>
              <td>Column 1</td>
              <td>Column 2</td>
              <td>Column 3</td>
              <td>Column 4</td>
            </tr>
            <tr>
              <td>
                <button data-ng-click="addRow()"> Add Row</button>
              </td>
              <td>
                <input type="text" size="5" data-ng-model="value1">
              </td>
              <td>
                <input type="text" size="5" data-ng-model="value2">
              </td>
              <td>
                <input type="text" size="60" data-ng-model="value3">
              </td>
              <td>
                <input type="text" size="5" data-ng-model="value4">
              </td>
            </tr>
            <tr>
              <td>
                Try
              </td>
              <td>
                <input ng-non-bindable type="text" size="5" value="{{ 1 + 2 }}" disabled="true">
              </td>
              <td>
                <input ng-non-bindable type="text" size="5" value="Apple" disabled="true">
              </td>
              <td>
                <input ng-non-bindable type="text" size="60"
                       value='<button type="button" ng-click="click()" >click() in example controller</button>'
                       disabled="true">
              </td>
              <td>
                <input ng-non-bindable type="text" size="5" value="Fruits" disabled="true">
              </td>
            </tr>
            <tr>
              <td>
                Try
              </td>
              <td>
                <input ng-non-bindable type="text" size="5" value="{{ 1 / 2 }}" disabled="true">
              </td>
              <td>
                <input ng-non-bindable type="text" size="5" value="{{'A' + 'B'}}" disabled="true">
              </td>
              <td>
                <input ng-non-bindable type="text" size="60"
                       value='<input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>' disabled="true">
              </td>
              <td>
                <input ng-non-bindable type="text" size="5" value="<i>Angular</i>" disabled="true">
              </td>
            </tr>
          </table>
        </div>
      </div>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/simars">simars</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-tables.js"></script>
    <script type="text/javascript" src="javascripts/example/example.js"></script>
  </body>
</html>
